.main
  = render partial: "side-menu"
  .chat
    .chat__top  
      .chat__top__left
        .chat__top__info__name
          %p group-name
        .chat__top__left__member
          %p Members: 
      .chat__top__right
        = link_to "Edit","", class: "chat__top__right__edit"
    .chat__bottom
      %ul
        %li
          .chat__bottom__message
            .chat__bottom__message_info
              .chat__bottom__message__info__user
                %p test-user
              .chat__bottom__message__info__date
                %p 〇〇/〇〇/〇〇
            .chat__bottom__message__text
              %p こんにちは！
        %li
          .chat__bottom__message
            .chat__bottom__message_info
              .chat__bottom__message__info__user
                %p test-user
              .chat__bottom__message__info__date
                %p 〇〇/〇〇/〇〇
            .chat__bottom__message__text
              %p テスト2
    .chat__footer
      .chat__footer__box
        %input.chat__footer__box__text{type: "text", placeholder: "type a message"}
        %label.chat__footer__box__image{for: "upload-icon"}
          %i.fa.fa-picture-o
          =icon 'fas','image'
          %input.dammy{style: "display: none;"}
      %input.chat__footer__submit{type: "submit", value: "Send"}