@import "reset";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'side-menu';

*{
  box-sizing: border-box;
}

.flash-box{
  background-color: #38AEF0;
  color: white;
  text-align: center;
}
