*{
  box-sizing: border-box;
}


@import "reset";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'side-menu';
@import 'group';

.flash-box{
  background-color: #38AEF0;
  color: white;
  text-align: center;
}

