*{
  box-sizing: border-box;
}


@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "config/reset";
@import 'config/color';
@import 'modules/side-menu';
@import 'modules/group';
@import 'modules/user';
@import 'modules/flash';

.flash-box{
  background-color: $btn;
  color: white;
  text-align: center;
}

